<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="First name:">
        <input type="text" placeholder="Last name:">
        <input type="password" minlength="5" placeholder="Password:">
        <input type="email" placeholder="Email:">
        <input type="tel">
        <input type="submit" value="Sing up">
    </form>
</body>
</html>